{% extends "base.html" %}

{% block content %}
{{ super() }}
<p>Отзывы пользователей</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem, recusandae. Exercitationem nostrum nam perferendis aut quasi harum blanditiis. Expedita sunt, similique aliquid ratione cupiditate aut aspernatur repudiandae enim libero dolorum.</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet, voluptatibus. Possimus voluptatem adipisci fugit voluptas porro, facilis sint reprehenderit enim. Hic numquam obcaecati soluta aut, accusantium beatae iste iusto ipsa.</p>
{% endblock %}