{% extends "base.html" %}

{% block content %}
{{ super() }}
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ex odit ipsa esse, totam ea laudantium, praesentium quidem fugit recusandae dignissimos doloremque aliquam nostrum nulla, nam quis qui quam ducimus.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur sapiente iure nihil, doloribus eaque expedita dolore, sunt nulla, eveniet soluta nam odio ut ullam quidem! Enim aut deserunt exercitationem alias.</p>
{% endblock %}