{% extends "base.html" %}

{% block content %}
{{ super() }}
<p>Отзывы пользователей</p>
<div class="container">
  
  <p class="name"><img src="../static/b_3_2.png" alt="Ava">Анастасия</p>
  <p>СЕО специалист</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore, odio molestiae est laudantium voluptatum culpa corrupti delectus facilis. Praesentium non rerum laborum commodi quo veritatis mollitia nostrum expedita aliquam excepturi?</p>
</div>

<div class="container">
  
  <p class="name"><img src="../static/b_3_3.png" alt="Ava"> Кристина</p>
  <p>Веб разработчик</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos quasi nam nostrum excepturi maxime minus ipsum distinctio quibusdam suscipit, alias accusantium, quidem laboriosam consectetur qui dolore impedit, nulla ducimus mollitia.
  Magni blanditiis minus sapiente deleniti quibusdam vel illo suscipit maiores optio commodi error placeat dolores tenetur, dicta explicabo dolorem excepturi! Exercitationem consequatur molestiae officiis sapiente optio ratione dicta vitae facilis!</p>
</div>
{% endblock %}