<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="container">
  <h1>Описание генерации паролей</h1>
  <p>Для генерации пароля выберите кол-во символов. Также если необходимо, есть возможность добавить в пароль - верхний регистр, цифры и спецсимволы.</p>
  <p>Далее нажмите "Сгенерировать пароль".</p>
  <p>Если хотите обновить пароль с действующими настройками нажмите кнопку "Обновить пароль". Чтобы изменить настройки генерации пароля нажмите кнопку "Вернуться на главную"</p>
</div>
<form action="{% url 'home' %}" class="descrip">
    <input type="submit" value="Вернуться на главную" class="button">
</form>
</body>
</html>