<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="container">
    <h1>Ваш пароль:</h1>
    <h2>{{ password }}</h2>
    <p class="update"><input type="submit" value="Обновить" class="button" onclick="location.reload()"></p>
</div>
<form action="{% url 'home' %}" class="descrip">
    <input type="submit" value="Вернуться на главную" class="button">
</form>
</body>
</html>